:root {
    --color-dark-1: #3f3f3f;
    --color-light-1: #1d1d1d;
}

body {
    background-color: var(--color-dark-1);
}

img.background {
    display: none;
}

div.background {
    background-color: var(--color-light-1);
}

nav#navbar {
    background-color: var(--color-light-1);
}

nav li {
    color: white;
}

div.footer {
    color: white;
}

::-webkit-scrollbar-track {background-color: var(--color-light-1);}
::-webkit-scrollbar-thumb {background-color: var(--color-dark-1);}