img.background {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: -1;
}

div.footer * {
    color: var(--color-dark-2) !important;
}

@media screen and (orientation: portrait) {
    img.background {
        width: auto;
        height: 100dvh;
        left: calc((100dvh - 100vw) / -2);
        z-index: -1;
    }
}