img.background {
    position: fixed;
    left: 1vw;
    width: 98vw;
}

@media screen and (max-width: 700px) {
    img.background {
        width: auto;
        height: 100%;
        left: calc((-720px + 100vw) / 2);
        z-index: -1;
    }
}