:root {
    --color-blue-light: #2b585b;
    --color-blue-dark: #122426;
}

body {
    background-color: var(--color-blue-light);
}

img.background {
    display: none;
}

div.footer {
    background-color: var(--color-blue-dark);
    border: 1vw solid var(--color-blue-dark);
    border-top: 0;
    border-bottom: 0;
}