:root {
    --color-light-1: #e6e6e6;
    --color-dark-1: #242424;
}

body {
    background-color: var(--color-light-1);
}

img.background {
    display: none;
}

div.footer {
    background-color: var(--color-dark-1);
    border: 1vw solid var(--color-dark-1);
    color: var(--color-light-1);
    border-top: 0;
    border-bottom: 0;
}