:root {
    --color-blue-dark: #2B585C;
    --color-blue: #346D71;
    --color-blue-light: #55ADB3;
    --color-purple-dark: #9113C2;
    --color-purple-light: #C447D1;
}

body {
    background-color: var(--color-blue-light);
}

nav#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: var(--color-blue-dark);
    color: white;
}

nav ul {
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 2vw 0 2vw;
}

nav li {
    text-decoration: none;
    display: inline-block;
    margin-right: 2vw;
    background-color: var(--color-blue);
    padding: 10px 10px 8px 10px;
    text-align: center;
    border-radius: 10px;
    min-width: 6vw;
    align-self: center;
}

nav li.active {
    background-color: var(--color-purple-dark);
}

nav a:link {
    text-decoration: underline;
    color: lightblue;
}

nav a:hover {
    color: lightseagreen;
}

nav a:visited {
    color: lightgreen
}

div.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
}

img.icon {
    margin-right: 10px;
}

@media screen and (max-width: 1000px) {
    @media screen and (max-width: 700px) {
        nav ul {
            justify-content: space-between;
        }
    }
    nav li {
        margin-top: 2px;
        margin-bottom: 2px;
    }    
}