:root {
    --color-blue-dark: #122426;
    --color-blue-dark-transparent: #122426c0;
    --color-blue: #193436;
    --color-blue-light: #2b585b;
    --color-purple-dark: #590b78;
    --color-purple-light: #a63ab2;
    --color-youtube: #FF3333;
    --color-discord: #7289da;
    --color-github: #4078c0;
    --color-modrinht: #1bd96a;
    --color-curseforge: #F16436;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    background-color: var(--color-blue-light);
    margin: 0;
    font-family: 'Dongle', sans-serif;
    color: white;
}

h1 {
    margin: 1vh;
    text-align: center;
    max-width: 1000px;
    line-height: 50px;
    font-size: 60px;
    font-family: 'Koulen', cursive;
}
h2 {
    margin: 1vh;
    text-align: center;
    max-width: 1000px;
    line-height: 40px;
    font-size: 55px;
}
h3 {
    margin: 5px;
    text-align: center;
    max-width: 1000px;
    line-height: 35px;
    font-size: 50px;
}
span.text {
    text-align: center;
    max-width: 1000px;
}

nav#navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    background-color: var(--color-blue-dark);
    z-index: 100;
}

nav ul {
    margin: 1vh 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 1vw;
}

nav li {
    text-decoration: none;
    display: inline-block;
    margin-right: 1vw;
    background-color: var(--color-blue);
    padding: 10px 10px 8px 10px;
    text-align: center;
    border-radius: 10px;
    align-self: center;
    font-family: 'Koulen', cursive;
    color: var(--color-purple-light);
    font-size: 25px;
    line-height: 25px;
}

nav li.active {
    background-color: var(--color-purple-dark);
}

a:link {
    text-decoration: underline;
    color: lightblue;
}

a:hover {
    color: lightseagreen;
}

a:visited {
    color: lightblue
}

div.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.box {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border: 1vw solid;
    border-top: 0;
    border-bottom: 0;
    padding: 6vh 2vw;
    font-size: 50px;
    line-height: 40px;
}

div.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    border: 1vw solid var(--color-blue-light);
    background-color: var(--color-blue-light);
    border-top: 0;
    border-bottom: 0;
    height: 55px;
    line-height: 30px;
    font-size: 35px;
}

div.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-blue-dark-transparent);
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 4px;
    margin: 5px;
}

div.column-half {
    width: calc(30vw + 90px); margin: 0 20px;
}

.left {
    position: absolute;
    left: 2vw;
}
.right {
    position: absolute;
    right: 2vw;
}

img.icon {margin-right: 10px;}

img.box {background-color: var(--color-purple-light); border-radius: 15%; width: auto;}

div.youtube {border-color: var(--color-youtube);}
div.youtube h1 {color: var(--color-youtube);}
div.discord {border-color: var(--color-discord);}
div.discord h1 {color: var(--color-discord);}
div.discord * {max-width: 700px;}
div.lightpurple {border-color: var(--color-purple-light);}
div.lightpurple h1 {color: var(--color-purple-light);}
div.crimson {border-color: crimson;}
div.crimson h1, h1.crimson {color: crimson !important;}
img.box.crimson, div.crimson img.box {background-color: crimson;}
div.lightgreen {border-color: lightgreen;}
div.lightgreen h1, h1.lightgreen {color: lightgreen !important;}
img.box.lightgreen, div.lightgreen img.box {background-color: lightgreen;}
div.limegreen {border-color: limegreen;}
div.limegreen h1, h1.limegreen {color: limegreen !important;}
img.box.limegreen, div.limegreen img.box {background-color: limegreen;}
div.aquamarine {border-color: aquamarine;}
div.aquamarine h1, h1.aquamarine {color: aquamarine !important;}
img.box.aquamarine, div.aquamarine img.box {background-color: aquamarine;}
div.github {border-color: var(--color-github);}
div.github h1 {color: var(--color-github);}
div.modrinth {border-color: var(--color-modrinht);}
div.modrinth h1 {color: var(--color-modrinht);}
div.curseforge {border-color: var(--color-curseforge);}
div.curseforge h1 {color: var(--color-curseforge);}

img.profilepicture {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

@media screen and (max-width: 1600px) {
    h1, h2, h3, span.text {max-width: 700px;}
    div.discord * {max-width: 600px;}

    @media screen and (max-width: 1400px) {
        h1, h2, h3, span.text {max-width: 600px;}
        div.discord * {max-width: 500px;}

        @media screen and (max-width: 1200px) {
            nav li {
                margin-top: 2px;
                margin-bottom: 2px;
            }
            .left {
                position: static;
                margin-bottom: 10px;
            }
            .right {
                position: static;
                margin-top: 10px;
            }
            div.column-half {width: 85vw;}

            @media screen and (max-width: 700px) {
                nav ul {justify-content: space-around;}
                nav li {margin-right: 5px;}
                nav#navbar {position: static;}
                h1, h2, h3, span.text {max-width: 80vw;}
                div.discord * {max-width: 300px;}
            }
        }
    }
}