:root {
    --color-dark-1: #242424;
    --color-dark-1-transparent: #242424c0;
    --color-dark-2: #363636;
    --color-light-1: #e6e6e6;
    --color-light-2: #5c5c5c;
    --color-h2: #bcfd91;
    --color-link: #2b98ac;
    --color-hover: #6cb0f0c0;
    --color-beta: #fe0000;
    --color-release: #009134;
    --color-discord: #5865f2;
    --color-github: #4078c0;
    --color-modrinth: #1bd96a;
    --color-curseforge: #F16436;
    --color-creative-director: #e74c3c;
    --color-chief-developer: #e67e22;
}

.discord {
    color: var(--color-discord) !important;
    border-color: var(--color-discord) !important;
}
div.discord * {max-width: 700px;}
.github {
    color: var(--color-github) !important;
    border-color: var(--color-github) !important;
}
.modrinth {
    color: var(--color-modrinth) !important;
    border-color: var(--color-modrinth) !important;
}
.curseforge {
    color: var(--color-curseforge) !important;
    border-color: var(--color-curseforge) !important;
}
.beta {
    color: var(--color-beta) !important;
    border-color: var(--color-beta) !important;
}
.release {
    color: var(--color-release) !important;
    border-color: var(--color-release) !important;
}
.creative-director {
    color: var(--color-creative-director);
}
.chief-developer {
    color: var(--color-chief-developer);
}

body {
    background-color: var(--color-light-1);
    margin: 0;
    min-height: 100dvh;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: white;
}

div.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 35px;
    margin: 0;
    color: var(--color-h2);
}

span {
    font-size: 30px;
    text-align: center;
    max-width: 80vw;
}
span.small {
    font-size: 25px;
}

a:link, a:visited {
    color: var(--color-link);
}
a:hover {
    color: var(--color-hover);
}

div.spacer {
    height: 20px;
}

img.icon {
    height: 30px;
}
img.logo {
    max-height: 100px;
    max-width: 80vw;
}
img.rounded {
    border-radius: 5px;
}
img.pfp {
    height: 50px;
    border-radius: 50%;
}
img.pfp-big {
    height: 100px;
    border-radius: 50%;
}

.clickable {
    cursor: pointer !important;
}
img.icon.clickable {
    border-radius: 5px;
}
.clickable:hover {
    background-color: var(--color-hover);
}

nav#navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    background-color: var(--color-dark-1);
    z-index: 100;
}
div.tab {
    padding: 5px;
    gap: 5px;
    background-color: var(--color-dark-2);
    border-radius: 5px;
    width: fit-content;
    cursor: default;
}
div.tab span {
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
}

div.current {
    background-color: var(--color-light-2);
    cursor: default !important;
}

div#main {
    gap: 20px;
    padding: 20px 1vw;
}

div.background {
    background-color: var(--color-dark-1-transparent);
    border-radius: 20px;
    width: fit-content;
    padding: 20px;
    gap: 10px;
}

div.icon-span {
    gap: 5px;
}
div.tags {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
div.tags span {
    font-size: 30px;
}
div.tag {
    padding: 3px 5px;
    border: 3px solid white;
    border-radius: 10px;
    gap: 5px;
}

div.links {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
div.link {
    padding: 3px 5px;
    border: 3px solid;
    border-radius: 10px;
    gap: 5px;
}

div.members {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

div.footer {
    width: calc(100% - 20px);
    gap: 5px;
    padding: 10px;
    justify-content: center;
    background-color: var(--color-light-1);
    position: sticky;
    top: 100vh;
}

ol, ul {
    padding-left: 30px;
    margin: 0;
}
li {
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    nav#navbar {
        flex-direction: column;
    }
}